In [ ]:
 import pandas as pd

####데이터 스크레이핑(실패했으나, 기록용)
the cocktail DB https://www.thecocktaildb.com/api/json/v1/1/search.php?f=a~z, 0~9

https://www.kaggle.com/ai-first/cocktail-ingredients

In [ ]:
import string

num = list(range(10))
alphabet = list(string.ascii_lowercase)
list1 = alphabet + num

for i in list1:
  url = f'https://www.thecocktaildb.com/api/json/v1/1/search.php?f={i}'
  print(url)

https://www.thecocktaildb.com/api/json/v1/1/search.php?f=a
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=b
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=c
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=d
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=e
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=f
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=g
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=h
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=i
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=j
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=k
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=l
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=m
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=n
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=o
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=p
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=q
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=r
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=s
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=t
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=u
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=v
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=w
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=x
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=y
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=z
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=0
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=1
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=2
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=3
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=4
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=5
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=6
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=7
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=8
https://www.thecocktaildb.com/api/json/v1/1/search.php?f=9

In [ ]:
import json
from pandas import json_normalize

In [ ]:
with open('mergeddata.txt', 'r') as f:
  data = json.load(f)
data = json_normalize(data['drinks'])

####데이터 로드→전처리

In [ ]:
df = pd.read_csv("all_drinks.csv")

In [ ]:
df

     Unnamed: 0                              strDrink  ... strMeasure9  strVideo
0             0  '57 Chevy with a White License Plate  ...         NaN       NaN
1             1                        1-900-FUK-MEUP  ...                   NaN
2             2                      110 in the shade  ...         NaN       NaN
3             3                151 Florida Bushwacker  ...                   NaN
4             4                           155 Belmont  ...                   NaN
..          ...                                   ...  ...         ...       ...
541         541                       Zippy's Revenge  ...         NaN       NaN
542         542                        Zizi Coin-coin  ...          \n       NaN
543         543                                Zoksel  ...          \n       NaN
544         544                             Zorbatini  ...         NaN       NaN
545         545                                 Zorro  ...         NaN       NaN

[546 rows x 41 columns]

In [ ]:
df.rename(columns = lambda x: x.replace("str", ""), inplace=True)

In [ ]:
df.rename(columns = {'Drink':'Name', 'idDrink':'ID'}, inplace = True)

In [ ]:
#DrinkThumb, Video, Instructions는 검증용 컬럼인 idDrink와 함께 별도의 df로 남겨둠 
df_imgdata = df[['ID', 'DrinkThumb', 'Video', 'Inuctions']]
df_imgdata

        ID  ...                                          Inuctions
0    14029  ...  1. Fill a rocks glass with ice 2.add white cre...
1    15395  ...  Shake ingredients in a mixing tin filled with ...
2    15423  ...              Drop shooter in glass. Fill with beer
3    14588  ...  Combine all ingredients. Blend until smooth. G...
4    15346  ...  Blend with ice. Serve in a wine glass. Garnish...
..     ...  ...                                                ...
541  14065  ...  Mix Kool-Aid to taste then add Rum and ammaret...
542  14594  ...  Pour 5cl of Cointreau on ice, add 2cl of fresh...
543  15691  ...  No specific mixinginstructions, just poor ever...
544  16963  ...  Prepare like a Martini. Garnish with a green o...
545  15328  ...  add all and pour black coffee and add whipped ...

[546 rows x 4 columns]

In [ ]:
df['Ingredient1'].isnull().sum() #제1성분이 결측치인 행이 없으므로 제거하지 않고 진행

0

In [ ]:
#불필요한 컬럼: dateModified, Unnamed: 0 제거
df = df.drop(['dateModified', 'Unnamed: 0', 'DrinkThumb', 'Video', 'Inuctions'], axis=1)
df

                                     Name     ID  ... Measure8 Measure9
0    '57 Chevy with a White License Plate  14029  ...      NaN      NaN
1                          1-900-FUK-MEUP  15395  ...  1/4 oz
2                        110 in the shade  15423  ...      NaN      NaN
3                  151 Florida Bushwacker  14588  ...   1 cup
4                             155 Belmont  15346  ...
..                                    ...    ...  ...      ...      ...
541                       Zippy's Revenge  14065  ...               NaN
542                        Zizi Coin-coin  14594  ...       \n       \n
543                                Zoksel  15691  ...       \n       \n
544                             Zorbatini  16963  ...      NaN      NaN
545                                 Zorro  15328  ...               NaN

[546 rows x 36 columns]

####결측치 확인 및 처리

In [ ]:
#전체 컬럼의 결측치 비율 확인 
df.isnull().sum() / len(df)*100

Name              0.000000
ID                0.000000
Alcoholic         0.183150
Category          0.000000
Glass             0.000000
IBA              86.996337
Ingredient1       0.000000
Ingredient10     99.450549
Ingredient11     99.450549
Ingredient12     99.816850
Ingredient13    100.000000
Ingredient14    100.000000
Ingredient15    100.000000
Ingredient2       0.000000
Ingredient3      15.567766
Ingredient4      46.153846
Ingredient5      69.597070
Ingredient6      85.714286
Ingredient7      95.421245
Ingredient8      97.252747
Ingredient9      98.901099
Measure1          0.000000
Measure10        73.626374
Measure11        87.912088
Measure12        96.336996
Measure13        97.802198
Measure14        99.267399
Measure15        99.450549
Measure2          0.549451
Measure3          1.282051
Measure4          3.479853
Measure5          4.761905
Measure6          4.212454
Measure7          4.395604
Measure8         24.175824
Measure9         52.930403
dtype: float64

ingredient1부터 5까지만 사용하기로 결정-> ingredient6~15는 삭제 

(kmeans 같은거 썼으면 효과적이었을 텐데 일단 임의로 수동으로 잘라본다... ㅠ)
(measure: 일단 따로 떼어놓기 (근데 쓸 일 없을 듯...)

In [ ]:
df = df.copy()
df = df[['Name', 'ID', 'Alcoholic', 'Category', 'Glass', 'IBA', 'Ingredient1', 'Ingredient2', 'Ingredient3', 'Ingredient4', 'Ingredient5']]
df

                                     Name  ...  Ingredient5
0    '57 Chevy with a White License Plate  ...          NaN
1                          1-900-FUK-MEUP  ...   Malibu rum
2                        110 in the shade  ...          NaN
3                  151 Florida Bushwacker  ...    Cointreau
4                             155 Belmont  ...          NaN
..                                    ...  ...          ...
541                       Zippy's Revenge  ...          NaN
542                        Zizi Coin-coin  ...          NaN
543                                Zoksel  ...         7-Up
544                             Zorbatini  ...          NaN
545                                 Zorro  ...          NaN

[546 rows x 11 columns]

In [ ]:
df['Alcoholic'].unique()

array(['Alcoholic', 'Non alcoholic', 'Optional alcohol', nan,
       'Non Alcoholic'], dtype=object)

In [ ]:
#'Non alcoholic', 'Non Alcoholic' 통일
df['Alcoholic'] = df['Alcoholic'].replace('Non Alcoholic', 'Non alcoholic', regex=True)

In [ ]:
df['Alcoholic'].isnull().sum()

1

In [ ]:
df[df['Alcoholic'].isnull()]

                         Name     ID  ... Ingredient4 Ingredient5
190  Cherry Electric Lemonade  17174  ...   White rum  Triple Sec

[1 rows x 11 columns]

In [ ]:
#결측치 1건은 alcoholic으로 대체 
df['Alcoholic'] = df['Alcoholic'].fillna('Alcoholic')

In [ ]:
df['IBA'].unique()

array([nan, 'Unforgettables', 'New Era Drinks', 'Contemporary Classics'],
      dtype=object)

In [ ]:
#IBA 컬럼의 null값은 IBA 비공식이라는 뜻이므로 unofficial로 대체 
df['IBA'] = df['IBA'].fillna('Unofficial')

In [ ]:
#대소문자를 통일하지 않아 Ingredients 등의 컬럼에 중복값이 생긴 것을 확인 -> 소문자로 통일하여 중복값을 제거하는 함수 적용
def engineering(df):
  df = df.copy()
  
  df['Ingredient1'] = df['Ingredient1'].str.lower()
  df['Ingredient2'] = df['Ingredient2'].str.lower()
  df['Ingredient3'] = df['Ingredient3'].str.lower()
  df['Ingredient4'] = df['Ingredient4'].str.lower()
  df['Ingredient5'] = df['Ingredient5'].str.lower()
  df['Glass'] = df['Glass'].str.lower()

  return df

In [ ]:
df = engineering(df)

####프로파일링(라이브러리 설치상의 에러 있음)

In [ ]:
import pandas_profiling

In [ ]:
pip install pandas-profiling

Requirement already satisfied: pandas-profiling in /usr/local/lib/python3.7/dist-packages (1.4.1)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.2.4)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.15.0)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (3.2.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.8->pandas-profiling) (2.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.3.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (0.11.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pandas-profiling) (2018.9)

In [ ]:
profile = df.profile_report()
profile

AttributeError: ignored

### 모델링에 도전한다!

In [ ]:
#현재까지 구현한 데이터프레임 확인
df

                                     Name  ...  Ingredient5
0    '57 Chevy with a White License Plate  ...          NaN
1                          1-900-FUK-MEUP  ...   malibu rum
2                        110 in the shade  ...          NaN
3                  151 Florida Bushwacker  ...    cointreau
4                             155 Belmont  ...          NaN
..                                    ...  ...          ...
541                       Zippy's Revenge  ...          NaN
542                        Zizi Coin-coin  ...          NaN
543                                Zoksel  ...         7-up
544                             Zorbatini  ...          NaN
545                                 Zorro  ...          NaN

[546 rows x 11 columns]

In [ ]:
#유사도 계산을 위해 ingredient 컬럼을 전부 합쳐 하나의 컬럼화 

df_ingredient= df['Ingredient1'].astype(str) + ' '+ df['Ingredient2'].astype(str)+ ' '+ df['Ingredient3'].astype(str)+ ' '+ df['Ingredient4'].astype(str)+ ' '+ df['Ingredient5'].astype(str)
df_ingredient.replace('nan', '', regex=True, inplace=True) #n번째 성분이 없는(즉 원래는 결측치인) 경우 nan을 삭제
df_ingredient = df_ingredient.astype(str) #int가 없도록 str 처리

In [ ]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
#TF-IDF Vectorizer 객체를 정의
tfidf = TfidfVectorizer()

#데이터를 적합하고 변환하여 필요한 TF-IDF 행렬을 구성
tfidf_matrix = tfidf.fit_transform(df_ingredient)

In [ ]:
#546개 컬럼, 283개 단어 모음을 가진 TF-IDF 행렬로 추출
tfidf_matrix.shape

(546, 283)

In [ ]:
tfidf_matrix

<546x283 sparse matrix of type '<class 'numpy.float64'>'
	with 3044 stored elements in Compressed Sparse Row format>

In [ ]:
# DataFrame의 인덱스를 재설정하고 역방향 매핑을 구성
df_ingredient = df_ingredient.reset_index()
indices = pd.Series(df_ingredient.index, index=df['Name']) #원본 데이터프레임의 Name column과 index 연결

indices.shape

(546,)

In [ ]:
indices

Name
'57 Chevy with a White License Plate      0
1-900-FUK-MEUP                            1
110 in the shade                          2
151 Florida Bushwacker                    3
155 Belmont                               4
                                       ...
Zippy's Revenge                         541
Zizi Coin-coin                          542
Zoksel                                  543
Zorbatini                               544
Zorro                                   545
Length: 546, dtype: int64

In [ ]:
#코사인 유사도 계산
from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.13901709,
        0.33476195],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.13901709, 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.33476195, 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

추천을 위한 함수 구현

In [ ]:
def model(name, cosine_sim=cosine_sim):
    idx = indices[name] #indices 데이터프레임에서 칵테일 이름과 일치하는 인덱스 번호를 받아옴
    sim_scores = list(enumerate(cosine_sim[idx])) #유사도 점수를 코사인 유사도 방식으로 계산

    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:4] #유사도 점수가 가장 높은 칵테일을 3개까지 출력

    cocktail_indices = [i[0] for i in sim_scores] #칵테일의 인덱스를 출력 

    # Return the top 3 most similar movies
    return df['Name'].iloc[cocktail_indices]

In [ ]:
name = input()

Zippy's Revenge

In [ ]:
model(name, cosine_sim)

336    Kool-Aid Slammer
334      Kool First Aid
136        Berry Deadly
Name: Name, dtype: object

In [ ]:
model("Mojito", cosine_sim)

252    Frozen Mint Daiquiri
347                 Limeade
114                Autodafé
Name: Name, dtype: object

####부호화

In [ ]:
import pickle

In [ ]:
with open('model.pkl', 'wb') as pickle_file:
  pickle.dump(model, pickle_file)

####복호화 테스트

In [ ]:
with open('model.pkl', 'rb') as pickle_file:
  model = pickle.load(pickle_file)

In [ ]:
test = "Zippy's Revenge"
answer = model(test)

In [ ]:
answer

336    Kool-Aid Slammer
334      Kool First Aid
136        Berry Deadly
Name: Name, dtype: object

In [1]:
import pandas as pd
!pip install sqlalchemy
!pip install psycopg2-binary==2.8.6

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.35)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.11.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.1.1)
Collecting psycopg2-binary==2.8.6
  Downloading psycopg2_binary-2.8.6-cp37-cp37m-manylinux1_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 16.6 MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.6

In [4]:
df = pd.read_csv('/content/all_drinks.csv')

In [7]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://ehlxypld:xsfHBK5g3aN2rm8aXn86FZRnpj752BsI@drona.db.elephantsql.com/ehlxypld') 
df.to_sql('test', engine)

해결하지 못한 문제

- thecocktaildb에 업데이트가 생길 때마다 자동으로 긁어올 수는 없을까 

- 가중치를 줘서 계산할 수 없을까